@using System.Numerics
@implements IDisposable

<h3>Ether Provider (@ProviderName)</h3>

<div>
    <div>Name:@Provider?.Name</div>
    <div>IsAvailable:@IsAvailable</div>
    <div>Account:@Account</div>
    <div>ChainId:@ChainId</div>
    <div>Balance (Eth):@BalanceInEth</div>
    <div>Balance (Wei):@BalanceInWei</div>
</div>

<div>
    <button class="btn btn-primary" @onclick="OnConnect">Connect</button>
    <button class="btn btn-primary" @onclick="OnRefresh">Refresh</button>
</div>


@code {
    [Parameter]
    public string ProviderName { get; set; } = string.Empty;

    [Parameter]
    public IJsonRpcProvider? Provider { get; set; }

    private bool IsAvailable { get; set; }
    private string Account { get; set; } = "<none>";
    private long ChainId { get; set; }
    private double BalanceInEth { get; set; } = 0;
    private string BalanceInWei { get; set; } = "";

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (Provider != null)
        {
            await Init(Provider);
        }
    }

    public void Dispose()
    {
        // make sure of remove the event handlers
        if (Provider != null)
        {
            Provider.AccountChanged -= OnAccountChanged;
            Provider.ChainIdChanged -= OnChainIdChanged;
        }
    }

    private async Task Init(IJsonRpcProvider provider)
    {
        // add the events handlers
        provider.AccountChanged += OnAccountChanged;
        provider.ChainIdChanged += OnChainIdChanged;

        IsAvailable = await provider.IsAvailable();
    }

    private async Task OnConnect()
    {
        if (Provider == null) return;

        try
        {
            Account = await Provider.Connect();
            await Refresh();
        }
        catch (Exception ex)
        {
            // error handling goes here
        }
    }

    private Task OnRefresh()
    {
        return Refresh();
    }

    private async Task Refresh()
    {
        if (Provider == null) return;

        Account = await Provider.GetAccount();
        ChainId = await Provider.GetChainId();
        await RefreshBalance();
    }

    private async Task RefreshBalance()
    {
        if (Provider == null) return;

        var request = new RpcRequestMessage(1, "eth_getBalance", Account, "latest");
        IRpcResponseMessage response = await Provider.Request(request);
        if( !response.HasError )
        {
            string hexStr = response.ResultAs<string>();

            BigInteger balanceInWei = HexConverter.HexToBigInteger(hexStr);

            BigInteger maxWei = BigInteger.Pow(10, 18);
            double balanceInEth = (double)balanceInWei / (double)maxWei;
            BalanceInEth = balanceInEth;
            BalanceInWei = balanceInWei.ToString();
        }
        else
        {
            // error handling
        }
    }

    private void OnAccountChanged(string account)
    {
        Account = account;
        StateHasChanged();
    }

    private void OnChainIdChanged(long chainId)
    {
        ChainId = chainId;
        StateHasChanged();
    }



}
