@page "/nethereum"
@using System.Numerics
@using Ether.NethereumProvider
@using Nethereum.Hex.HexConvertors.Extensions

@inject INethereumProviderRegistry _registry;

<PageTitle>Nethereum Web3 Provider</PageTitle>

<h1>Nethereum Web3 Provider</h1>

<div>
    <div>IsProviderAvailable:@IsProviderAvailable</div>
    <div>Account:@Account</div>
    <div>ChainId:@ChainId</div>
    <div>Balance (Eth):@BalanceInEth</div>
    <div>Balance (Wei):@BalanceInWei</div>
</div>

<div>
    <button class="btn btn-primary" @onclick="OnConnect">Connect</button>
    <button class="btn btn-primary" @onclick="OnRefresh">Refresh</button>

</div>

@code {

    bool IsProviderAvailable { get; set; }
    string Account { get; set; } = "<none>";
    long ChainId { get; set; }
    double BalanceInEth { get; set; } = 0;
    string BalanceInWei { get; set; } = "";
    string SignedMessage { get; set; } = "<not signed>";

    protected async override Task OnInitializedAsync()
    {
        var provider = await _registry.GetSingleProvider();
        IsProviderAvailable = await provider.IsProviderAvailable();

        await base.OnInitializedAsync();
    }

    private async Task OnConnect()
    {
        var provider = await _registry.GetSingleProvider();
        await provider.Connect();

        await Refresh();
    }

    private Task OnRefresh()
    {
        return Refresh();
    }

    private async Task Refresh()
    {
        var provider = await _registry.GetSingleProvider();
        Nethereum.Web3.IWeb3 web3 = provider.GetWeb3();

        Account = provider.Account;

        var chainId = await web3.Eth.ChainId.SendRequestAsync();
        ChainId = (long)(chainId.Value);

        await RefreshBalance(web3, Account);
    }

    private async Task RefreshBalance(Nethereum.Web3.IWeb3 web3, string account)
    {
        BigInteger maxWei = BigInteger.Pow(10, 18);

        BigInteger balanceInWei = (await web3.Eth.GetBalance.SendRequestAsync(account)).Value;
        double balanceInEth = (double)balanceInWei / (double)maxWei;

        BalanceInEth = balanceInEth;
        BalanceInWei = balanceInWei.ToString();
    }

}
